*{
    margin: 0;
    padding: 0;
}
.background{
    background-color: rgb(115, 3, 48);
    height: 100vh;
    color: black;
    font-family: century-gothic, sans-serif;
    text-align: center;

   
}

.calculadora{
    position: absolute;
    background-color: rgba(255, 192, 203, 0.74);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    padding: 15px;
    border: solid black;
  

}

.btn{
    background-color: palevioletred;
    width: 50px;
    height: 50px;
    font-size: 25px;
    cursor: pointer;
    border: none;
    color: white;
    margin: 3px;
    border-radius: 15px;
    border: solid black;
    transition: all 150ms linear;
}
.btn:hover{
    background-color: plum;
    transition: all 250ms linear;
}

#resultado{
 width: 207px;
 background-color: hotpink;
 height: 30px;
 margin: 5px;
 font-size: 25px;
 color: black;
 text-align: right;
 padding: 5px;
 border: solid black;
}




